{% extends 'server/base.html' %}
{% load static %}

{% block title %}Code list{% endblock title %}


{% block content %}
<section id="codelist-home">
 <div class="manage-container">
       
<div class="data-table">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Code ID</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for code_id, code in data.items %}
                    <tr>
                        <td> {{ code.title }} </td>
                        <td> {{ code_id }} </td>
                        <td>
                            <button class="view-btn" onclick="showCode(this)" 
                            value='{{code.code}}' id="{{code.title}}">View</button>
                        </td>
                    </tr> 
                {% empty%}
                <tr><td colspan='3'>No upload found</td></tr>
                {% endfor %}
        </tbody>
    </table>
</div>

 </div>
<div class="modal">
    <div class="modal-header">
        <span>
            <p id="modal-title">Heading</p>
            <button class="modal-btn" onclick="copyCode()">Copy</button>
        </span>
        <button class="modal-btn" onclick="closeModel()">X</button>
    </div>
    <pre><div class="modal-body"></div></pre>
</div>
</section>
{% endblock content %}

{% block js %}
    <script src="{% static 'server/js/app.js' %}"></script>
{% endblock js %}