{% extends 'server/base.html' %}
{% load static %}

{% block title %}Server files{% endblock title %}

{% block content %}
<section id="codelist-home">
<div class="manage-container">
    <div class="panel-bar">
        <input type="radio" name="__xyz" id="file-btn" checked onclick="selectTable()">
        <label for="file-btn">Files</label>
        <input type="radio" name="__xyz" id="code-btn" onclick="selectTable()">
        <label for="code-btn">Codes</label>
    </div>
    <div class="data-table" id="file-view">
        <h2>Files</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.title }}</td>
                    <td class="copy-btn"><button type="button" onclick="copyUrl(this)" 
                        value="{{file.url}}" >&#9741; copy</button></td>
                    <td> <a href="{{ file.url }}" class="view-btn" target="_blank" style="text-decoration:none;">Download</a> </td>
                </tr>
                {% empty%}
                <tr><td colspan='3'>No file found</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="data-table" id="code-view">
        <h2>Codes</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Code ID</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for code_id, code in data.items %}
                        <tr>
                            <td> {{ code.title }} </td>
                            <td> {{ code_id }} </td>
                            <td>
                                <button class="view-btn" onclick="showCode(this)" 
                                value='{{code.code}}' id="{{code.title}}">View</button>
                            </td>
                        </tr> 
                    {% empty%}
                    <tr><td colspan='3'>No upload found</td></tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal">
    <div class="modal-header">
        <span>
            <p id="modal-title">Heading</p>
            <button class="modal-btn" onclick="copyCode()">Copy</button>
        </span>
        <button class="modal-btn" onclick="closeModel()">X</button>
    </div>
    <pre><div class="modal-body"></div></pre>
</div>
<h2 class="server-id">Server ID: {{serverID}} </h2>
</section>
{% endblock content %}

{% block js %}
    <script src="{% static 'server/js/app.js' %}"></script>
{% endblock js %}