{% extends 'server/base.html' %}

{% block title %}Server{% endblock title %}



{% block content %}

<section id = "server-home">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="heading">
        <h1>Welcome to code sharing server</h1>
    </div>

    <div class="container">
        <div class="form">
            <h2>Find your <em class="invert">server</em> here</h2><hr>

            <form action="" method="post" >
                {% csrf_token %}
                <input type="hidden" name="type" value="server">
                <div class="input-search">
                    <p>Enter your server ID</p>
                    <input type="search" name="server_id" id="server_id"
                    maxlength="10" placeholder="server id eg. caP785">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="form">
            <h2>Find your <em class="invert">code</em> here</h2><hr>

            <form action="" method="post" >
                {% csrf_token %}
                <input type="hidden" name="type" value="code">
                <div class="input-search">
                    <p>Enter your Code ID</p>
                    <input type="search" name="code_id" id="code_id" minlength="6" maxlength="6"
                    placeholder="6-digit code id eg. CAPSEF" style="text-transform: uppercase;">
                    <button type="submit">Search</button>
                </div>

            </form>
        </div>
        
    </div>

</section>

{% endblock content %}